{%extends 'musicbeats/basic.htm'%}
{% block title%}All Songs{% endblock %}

{% block body %}
<div class="container">
<div style="padding-top:3%;padding-bottom:2%;font-size:150%; color:white;">
    Your Search Result for  :{{query}}
</div>

{% for i in songs reversed %}
<div class="card mb-3" style="max-width: 940px; padding-top: 0%; background-color:black;">
    <div class="row no-gutters">
      <div class="col-md-6 py-2 px-2">
        <img src="{{i.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title" style="color: white; font-weight: 550;">{{i.name}}</h5>
          <p class="text-light">Tags: {{i.tags}}</p>
        <p class="text-light">Movie: {{i.movie}}</p>
        {% if user.is_authenticated %}
        <form action="/musicbeats/history" method="POST">{% csrf_token %}
          <input type="hidden" name="music_id" value="{{i.song_id}}">
          <a href="/musicbeats/songs/{{i.song_id}}"><button class="btn btn-outline-primary">Listen Song</button></a>
        </form>
        {% else %}
        <a href="/musicbeats/songs/{{i.song_id}}"><button class="btn btn-outline-primary">Listen Song</button></a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
